// Register & Login //
.register {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 2rem;
  font-family: 'Avenir', sans-serif;
}

#register-btn {
  margin-left: 12rem;
}
