// Register & Login //
.register {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

h3 {
  font-size: 2.5rem;
  font-family: 'Avenir', sans-serif;
}

#submit-btn {
  margin-left: 30px;
}
