// Showcase Section //
section {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.showcase {
  width: 70%;
  margin: auto;
  display: flex;
  margin-bottom: 8rem;
}

.showcase-text {
  margin-top: 3rem;
  margin: auto;
}


#scribe-heading {
  font-family: 'snell roundhand', sans-serif;
  font-size: 10rem;
  text-align: center;

}

h2 {
  font-family: 'Avenir', sans-serif;
  font-size: 2rem;
}
